/* Main */

body {
	font-family: 'Lato', sans-serif;
}

.logo {
	width: 300px;
	position: fixed;
	background-color: #E32D40;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size:30px;
	height: 115px;
	padding-top: 40px;
}

.logo i {
	font-size: 50px;
	display: block;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #E32D40;
  overflow: scroll;
  color:#fff;
}


/*  Excerpts */

.mail-excerpts {
	padding-top: 139px;
	text-align: left;
	list-style: none;
	padding-left: 0;
}

.mail-excerpt {
	padding:10px 10px 10px 40px;
}

.mail-excerpt:hover {
	cursor: pointer;
}

.mail-excerpt-subject {
	font-weight: 300;
}

.mail-excerpt-new, .mail-excerpt-new span {
	font-weight: 700;
}

.mail-excerpt-active {
	background-color: #fff;
	color: #2c3e50;
}

.mail-excerpt:before {    
    font-family: 'FontAwesome';
    content: "\f003";
    margin:0 5px 0 -25px;
}

.mail-excerpt-new:before {    
    font-family: 'FontAwesome';
    content: "\f0e0";
    margin:0 5px 0 -25px;
}

.mail-excerpt-read:before, .mail-excerpt-active:before {    
    font-family: 'FontAwesome';
    content: "\f003";
    margin:0 5px 0 -25px;
}

/* Main section */
.main {
	margin-left:300px;
}

/* Email Header */

.mail-header {
	color:#fff;
	padding:20px;
	background-color: #152B3C;
	width: 100%;
	height: 115px;
	overflow: scroll;
}
.mail-header-subject {
	font-weight: bold;
	font-size: 20px;
}
.mail-header table {
	margin-top:10px;
	text-align: left;
}
.mail-header table th {
	text-align: right;
	padding-right:15px;
}


/* Email Content */

.content {
  padding:20px;
}

/* Misc */

.empty-mailbox {
	position: absolute;
	bottom: 0;
	right: 0;
	width:50px;
	height:45px;
	color:#fff;
	font-size: 30px;
	text-align: center;
	cursor: pointer;
	background: #E47C5D;
	padding-top: 5px;
	transition: all 0.5s ease;
}

.empty-mailbox:hover {
	background-color: #F0DDAA;
	color: #E47C5D;
}